.VideoMain {
  width: 100%;
  color: rgb(211, 206, 206);

    .main-video {
      display: block;
      margin: 0 auto;
      width: 80%;
      height: 500px;
    }
    .video-details{
      margin-left: 10%;
    }

    .video-title {
      cursor: pointer
    }
  }

.default-video {
  display: block;
  margin: 0 auto;
  width: 80%;
  min-height: 500px;
}