.InfoDisplay {
   height: 50px;
   display: flex;
   flex-direction: row;
}
.like{
    margin-left: 40%;
    border: none;
    outline: none;
    background-color: #1E1E1E;
    color: white;
}
.unLike{
    border: none;
    outline: none;
    background-color: #1E1E1E;
    color: white;
}
.event{
    margin-left: 10%;
    
}