.header-body {
    display: flex;
    flex-direction: row;
    background-color: rgba($color: #ffffff, $alpha: 0.2);
    padding: 10px;
    height: 50px;
    -webkit-box-shadow: 0px 3px 35px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 35px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 35px 0px rgba(0,0,0,0.75);
    margin-bottom: 20px;

    .header-logo {
        width: 25%;
        margin-right: 20px;

        img {
            height: 100%;
        }
    }
    
    .header-input {
        width: 75%;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        input {
            width: 90%;
            padding: 10px;
            background-color: #1E1E1E;
            border: none;
            outline: none;
            border-radius: 10px;
            color: white;
            margin-right: 20px;
        }
    }
}


@media screen and (max-width: 1000px) {
    input {
        height: 100% !important;
    }

    img {
        margin-top: 5px;
    }
}